
spring:
  profiles:
    default: h2

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/changelog-master.xml

  cache:
    type: redis
    redis:
      key-prefix: "calc::"

  data:
    redis:
      host: redis-cache
      port: 6379

resilience4j:
  circuitbreaker:
    instances:
      rewardPaymentCb:
        sliding-window-type: COUNT_BASED       # считаем последние вызовы
        sliding-window-size: 2                  # анализируем последние 2 вызова
        minimum-number-of-calls: 2              # минимальное количество вызовов для статистики
        failure-rate-threshold: 100             # 100% неудач → открыть цепь
        wait-duration-in-open-state: 60s        # 60 sec блокировка (время OPEN)
        permitted-number-of-calls-in-half-open-state: 1
        automatic-transition-from-open-to-half-open-enabled: true
        record-exceptions:
          - java.io.IOException
          - org.springframework.web.client.ResourceAccessException
          - org.springframework.web.client.HttpServerErrorException
        ignore-exceptions:
          - org.springframework.web.client.HttpClientErrorException
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  metrics:
    export:
      prometheus:
        enabled: true

server:
  port: 8080
