spring:
  datasource:
    url: jdbc:mysql://reward-payment-db:3306/reward_payment_db
    username: root
    password: fkmdbyjdbx383
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database: mysql
    show-sql: true
    hibernate:
      ddl-auto: validate
    database-platform: org.hibernate.dialect.MySQLDialect
