spring:
  profiles:
    default: h2

  application:
    name: reward-payment-app

  liquibase:
    enabled: false
    change-log: classpath:db/changelog/changelog-master.xml
    url: ${spring.datasource.url}
    user: ${spring.datasource.username}
    password: ${spring.datasource.password}
    driver-class-name: ${spring.datasource.driver-class-name}

  cache:
    type: redis
    redis:
      key-prefix: "pay::"
  data:
    redis:
      host: ${SPRING_REDIS_HOST:localhost}
      port: ${SPRING_REDIS_PORT:6379}

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  metrics:
    enable:
      all: true
    distribution:
      percentiles-histogram:
        http.server.requests: true  # Enable histograms for timing
    export:
      prometheus:
        enabled: true
  endpoint:
    health:
      show-details: always
  health:
    redis:
      enabled: true
    db:
      enabled: true
  tracing:
    enabled: true
    sampling:
      probability: 1.0
  otlp:
    tracing:
      endpoint: http://jaeger:4318/v1/traces

server:
  port: 8095