spring:
  profiles:
    default: h2

  liquibase:
    enabled: false
    change-log: classpath:db/changelog/changelog-master.xml


  cache:
    type: redis
    redis:
      key-prefix: "pay::"

  data:
    redis:
      host: redis-cache
      port: 6379

management:
  endpoint:
    health:
      show-details: always
  health:
    redis:
      enabled: true
    db:
      enabled: true
app:
  locks:
    rewardPayment: payment-execution-lock
server:
  port: 8095