version: '3.9'

networks:
  danil-reward-project:
    name: danil-reward-project

services:
  # =============================
  # MySQL для расчётов
  # =============================
  reward-calculation-db:
    networks: [danil-reward-project]
    container_name: reward-calculation-db
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: fkmdbyjdbx383
      MYSQL_DATABASE: reward_calculation_db
    ports:
      - "3006:3306"
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root --password=fkmdbyjdbx383"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci

  # =============================
  # MySQL для выплат
  # =============================
  reward-payment-db:
    networks: [danil-reward-project]
    container_name: reward-payment-db
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: fkmdbyjdbx383
      MYSQL_DATABASE: reward_payment_db
    ports:
      - "3005:3306"
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root --password=fkmdbyjdbx383"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci

  # =============================
  # Redis — глобальный кеш
  # =============================
  redis:
    networks: [danil-reward-project]
    container_name: redis-cache
    image: redis:7.2
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: ["redis-server", "--appendonly", "yes"]
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 30s

  # =============================
  # Контейнер Liquibase
  # =============================
#  liquibase-container-app:
#    networks: [danil-reward-project]
#    container_name: liquibase-container-app
#    image: liquibase-container-app:1.0.1
#    depends_on:
#      reward-calculation-db:
#        condition: service_healthy
#      reward-payment-db:
#        condition: service_healthy
#    restart: "no"
#    pull_policy: never
  # =============================
  # Приложение для расчётов
  # =============================
  reward-calculation-app:
    networks: [danil-reward-project]
    container_name: reward-calculation-app
    image: reward-calculation-app:1.0.1
    ports:
      - "8080:8080"
    environment:
      SPRING_REDIS_HOST: redis-cache
      SPRING_REDIS_PORT: 6379
    depends_on:
      reward-calculation-db:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8080/actuator/health || exit 1" ]
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 30s

#  reward-calculation-app-server2:
#    networks: [ danil-reward-project ]
#    container_name: reward-calculation-app-server2
#    image: reward-calculation-app:1.0.1
#    ports:
#      - "8081:8080"
#    environment:
#      SPRING_REDIS_HOST: redis-cache
#      SPRING_REDIS_PORT: 6379
#    depends_on:
#      reward-calculation-db:
#        condition: service_healthy
#      redis:
#        condition: service_healthy
#    healthcheck:
#      test: ["CMD-SHELL", "curl -f http://localhost:8080/actuator/health || exit 1"]
#      interval: 15s
#      timeout: 5s
#      retries: 5
#      start_period: 30s
  # =============================
  # Приложение для выплат
  # =============================
  reward-payment-app:
    networks: [danil-reward-project]
    container_name: reward-payment-app
    image: reward-payment-app:1.0.1
    ports:
      - "8095:8095"
    environment:
      SPRING_REDIS_HOST: redis-cache
      SPRING_REDIS_PORT: 6379
    depends_on:
      reward-payment-db:
        condition: service_healthy
      reward-calculation-app:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8095/actuator/health || exit 1" ]
      interval: 15s # How often to perform the health check ()
      timeout: 5s # Maximum time to wait for the health check to respond
      retries: 5 # Number of retries before marking the container as unhealthy
      start_period: 30s # Initial delay before starting health checks (useful for slow-starting services)

#  reward-payment-app-server2:
#    networks: [ danil-reward-project ]
#    container_name: reward-payment-app-server2
#    image: reward-payment-app:1.0.1
#    ports:
#      - "8096:8095"
#    environment:
#      SPRING_REDIS_HOST: redis-cache
#      SPRING_REDIS_PORT: 6379
#    depends_on:
#      reward-payment-db:
#        condition: service_healthy
#      reward-calculation-app-server2:
#        condition: service_healthy
#      redis:
#        condition: service_healthy
#    healthcheck:
#      test: [ "CMD-SHELL", "curl -f http://localhost:8095/actuator/health || exit 1" ]
#      interval: 15s
#      timeout: 5s
#      retries: 5
#      start_period: 30s
  # =============================
  # Load balancer -> NGINX
  # =============================
#  nginx:
#    image: nginx:latest
#    container_name: nginx-lb
#    networks: [ danil-reward-project ]
#    ports:
#      - "80:80"
#    volumes:
#      - ./load-balancer.conf:/etc/nginx/conf.d/load-balancer.conf:ro
#    depends_on:
#      reward-calculation-app:
#        condition: service_healthy
#      reward-calculation-app-server2:
#        condition: service_healthy
#      reward-payment-app:
#        condition: service_healthy
#      reward-payment-app-server2:
#        condition: service_healthy

volumes:
  redis-data: