networks:
  danil-reward-project:
    name: danil-reward-project

services:
  # =============================
  # MySQL для расчётов
  # =============================
  reward-calculation-db:
    networks: [danil-reward-project]
    container_name: reward-calculation-db
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: fkmdbyjdbx383
      MYSQL_DATABASE: reward_calculation_db
    ports:
      - "3006:3306"
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root --password=fkmdbyjdbx383"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci

  # =============================
  # MySQL для выплат
  # =============================
  reward-payment-db:
    networks: [danil-reward-project]
    container_name: reward-payment-db
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: fkmdbyjdbx383
      MYSQL_DATABASE: reward_payment_db
    ports:
      - "3005:3306"
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root --password=fkmdbyjdbx383"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci

  # =============================
  # Redis — глобальный кеш
  # =============================
  redis:
    networks: [danil-reward-project]
    container_name: redis-cache
    image: redis:7.2
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: ["redis-server", "--appendonly", "yes"]
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 30s

  # =============================
  # Контейнер Liquibase
  # =============================
  liquibase-container-app:
    networks: [danil-reward-project]
    container_name: liquibase-container-app
    image: liquibase-container-app:1.0.1
    depends_on:
      reward-calculation-db:
        condition: service_healthy
      reward-payment-db:
        condition: service_healthy
  # =============================
  # Приложение для расчётов
  # =============================
  reward-calculation-app-server-1:
    networks: [danil-reward-project]
    container_name: reward-calculation-app-server-1
    image: reward-calculation-app:1.0.1
#    ports:
#      - "8080:8080"
    environment:
      SPRING_REDIS_HOST: redis-cache
      SPRING_REDIS_PORT: 6379
      OTEL_RESOURCE_ATTRIBUTES: service.name=reward-calculation-app,service.instance.id=server1
    depends_on:
      reward-calculation-db:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8080/actuator/health || exit 1" ]
      interval: 15s
      timeout: 5s
      retries: 10
      start_period: 120s
    volumes:
      - ./reward-calculation-app/logs/server1:/MyProject/reward-calculation-app/logs

  reward-calculation-app-server-2:
    networks: [ danil-reward-project ]
    container_name: reward-calculation-app-server2
    image: reward-calculation-app:1.0.1
    environment:
      SPRING_REDIS_HOST: redis-cache
      SPRING_REDIS_PORT: 6379
      OTEL_RESOURCE_ATTRIBUTES: service.name=reward-calculation-app,service.instance.id=server2
    depends_on:
      reward-calculation-db:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/actuator/health || exit 1"]
      interval: 15s
      timeout: 5s
      retries: 10
      start_period: 120s
    volumes:
      - ./reward-calculation-app/logs/server2:/MyProject/reward-calculation-app/logs
  # =============================
  # Приложение для выплат
  # =============================
  reward-payment-app-server-1:
    networks: [danil-reward-project]
    container_name: reward-payment-app-server-1
    image: reward-payment-app:1.0.1
#    ports:
#      - "8095:8095"
    environment:
      SPRING_REDIS_HOST: redis-cache
      SPRING_REDIS_PORT: 6379
      OTEL_RESOURCE_ATTRIBUTES: service.name=reward-payment-app,service.instance.id=server1
    depends_on:
      reward-payment-db:
        condition: service_healthy
      reward-calculation-app-server-1:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8095/actuator/health || exit 1" ]
      interval: 15s # How often to perform the health check ()
      timeout: 5s # Maximum time to wait for the health check to respond
      retries: 10 # Number of retries before marking the container as unhealthy
      start_period: 120s # Initial delay before starting health checks (useful for slow-starting services)
    volumes:
      - ./reward-payment-app/logs/server1:/MyProject/reward-payment-app/logs

  reward-payment-app-server-2:
    networks: [ danil-reward-project ]
    container_name: reward-payment-app-server-2
    image: reward-payment-app:1.0.1
    environment:
      SPRING_REDIS_HOST: redis-cache
      SPRING_REDIS_PORT: 6379
      OTEL_RESOURCE_ATTRIBUTES: service.name=reward-payment-app,service.instance.id=server2
    depends_on:
      reward-payment-db:
        condition: service_healthy
      reward-calculation-app-server-2:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8095/actuator/health || exit 1" ]
      interval: 15s
      timeout: 5s
      retries: 10
      start_period: 120s
    volumes:
      - ./reward-payment-app/logs/server2:/MyProject/reward-payment-app/logs

  # =============================
  # Load balancer -> NGINX
  # =============================
  reward-calculation-lb:
    networks: [ danil-reward-project ]
    image: nginx:latest
    container_name: reward-calculation-lb
    ports:
      - "8080:8080"
    volumes:
      - ./reward-calculation-app-nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      reward-calculation-app-server-1:
        condition: service_healthy
      reward-calculation-app-server-2:
        condition: service_healthy

  reward-payment-lb:
    networks: [ danil-reward-project ]
    image: nginx:latest
    container_name: reward-payment-lb
    ports:
      - "8095:8095"
    volumes:
      - ./reward-payment-app-nginx.conf:/etc/nginx/nginx.conf:ro # Передаем конфиг NGINX внутрь контейнера
    depends_on:
      reward-payment-app-server-1:
        condition: service_healthy
      reward-payment-app-server-2:
        condition: service_healthy

  loki:
    networks: [ danil-reward-project ]
    image: grafana/loki:2.9.3
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/config.yaml
    volumes:
      - ./loki-config.yaml:/etc/loki/config.yaml

  promtail:
    networks: [ danil-reward-project ]
    image: grafana/promtail:2.9.0
    container_name: promtail
    volumes:
      - ./promtail-config.yaml:/etc/promtail/config.yml:ro
      - ./reward-calculation-app/logs:/logs/reward-calculation-app:ro
      - ./reward-payment-app/logs:/logs/reward-payment-app:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      - loki

  grafana:
    networks: [ danil-reward-project ]
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - loki

  prometheus:
    networks: [ danil-reward-project ]
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    depends_on:
      reward-calculation-app-server-1:
        condition: service_healthy
      reward-calculation-app-server-2:
        condition: service_healthy
      reward-payment-app-server-1:
        condition: service_healthy
      reward-payment-app-server-2:
        condition: service_healthy
        #  http://prometheus:9090 это в graffa указать ссылку добавить data source и посмотреть
        # http://loki:3100--> loki логирование глянуть
  jaeger:
    networks: [ danil-reward-project ]
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    ports:
      - "16686:16686"  # Jaeger UI
      - "4318:4318"  # OTLP HTTP receiver
    environment:
      - COLLECTOR_OTLP_ENABLED=true
      - LOG_LEVEL=debug
#   http://localhost:16686 -> посмотреть веб-интерфейс Jaeger
volumes:
  redis-data: