version: '1'

networks:
  danil-reward-project:

services:
  reward-calculation-db:
    networks: [danil-reward-project]
    container_name: reward-calculation-db
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: reward_calculation_db
    ports:
      - "3006:3306"

  reward-payment-db:
    networks: [danil-reward-project]
    container_name: reward-payment-db
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: fkmdbyjdbx383
      MYSQL_DATABASE: reward_payment_db
    ports:
      - "3005:3306"

  reward-calculation-app:
    networks: [danil-reward-project]
    container_name: reward-calculation-app
    image: reward-calculation-app:1.0.1
    ports:
      - "8080:8080"
    depends_on:
      - reward-calculation-db

  reward-payment-app:
    networks: [danil-reward-project]
    container_name: reward-payment-app
    image: reward-payment-app:1.0.1
    ports:
      - "8095:8095"
    depends_on:
      - reward-payment-db
